@import "../../styles/variables";
.base {
    background-color: $color-text;
    border-radius: $border-radius-small;
    line-height: .8em;
}

.text {
    visibility: hidden;
}

.light {
    background-color: $color-text;
}
