{
  "env": {
     "test": {
       "plugins": ["transform-es2015-modules-commonjs"]
     },
     "dev": {
         "plugins": [
           "lodash",
           "react-hot-loader/babel",
           "transform-flow-strip-types"
       ],
        "presets": [
            ["env", {
              "modules": false,
              "useBuiltIns": true,
              "targets": {
                "browsers": ["last 2 Chrome versions"]
              }
            }],
            "stage-2",
            "react"
        ],
      }
   }
}
