{
  "env": {
     "test": {
       "plugins": ["transform-es2015-modules-commonjs"]
     },
     "dev": {
         "plugins": [
           "lodash",
           "react-hot-loader/babel",
           "transform-flow-strip-types"
       ],
        "presets": [
            ["es2015", {"modules": false}],
            "stage-2",
            "react"
        ],
      }
   }
}
