{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-flow-strip-types"
],
  "env": {
     "test": {
       "plugins": ["transform-es2015-modules-commonjs"]
     },
     "dev": {
        "presets": [
            ["env", {
              "modules": false,
              "useBuiltIns": true,
              "targets": {
                "browsers": ["last 2 Chrome versions"]
              }
            }],
            "react"
        ],
      }
   }
}
