{
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  },
  "globals": {
      "APP_ENV": true
  },
  "parser": "babel-eslint",
  "rules": {
      "semi": [1, "never"],
      "indent": [1, 4],
      "max-len": [1, 100, {"ignoreStrings": true}],
      "react/jsx-indent-props": [1, 4],
      "react/jsx-indent": [1, 4],
      "no-underscore-dangle": [1, { "allow": ["__typename"] }],
      "react/prop-types": 0,
      "react/jsx-filename-extension": 0,
      "react/prefer-stateless-function": 0,
      "react/no-array-index-key": 0,
      "no-use-before-define": 0,
      "default-case": 0,
      "import/prefer-default-export": 0,
      "no-confusing-arrow": 0,
      "react/sort-comp": 0,
      "react/require-default-props": 0,
      "no-empty": [2, { "allowEmptyCatch": true }]
  },
  "plugins": [
    "css-modules",
    "flowtype"
  ],
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended",
    "plugin:flowtype/recommended"
  ]
}
