@import "./bootstrapTheme/variables.scss";

$color-black: $gray-base;
$color-gray-darker: $gray-darker;
$color-gray-dark: $gray-dark;
$color-gray: $gray;
$color-gray-light: $gray-light;
$color-gray-lighter: $gray-lighter;
$color-primary: $brand-primary;
$color-success: $brand-success;
$color-info: $brand-info;
$color-warning: $brand-warning;
$color-danger: $brand-danger;
$color-white: #fff;

$color-background: $body-bg;
$color-text: $text-color;
$color-link: $link-color;
$color-border: $table-border-color;

$font-size: 15px;
$font-size-small: 12px;
$font-size-large: 18px;
$font-size-h1: 46px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$border-radius: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$spacing-small: 6px;
$spacing: 10px;
$spacing-large: 18px;

$screen-sm-min: 48em;
$screen-md-min: 64em;
$screen-lg-min: 75em;

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
