$color-black: #000;
$color-gray-darker: #222;
$color-gray-dark: #7b8a8b;
$color-gray: #95a5a6;
$color-gray-light: #b4bcc2;
$color-gray-lighter: #ecf0f1;
$color-primary: #2C3E50;
$color-success: #18BC9C;
$color-info: #3498DB;
$color-warning: #F39C12;
$color-danger: #E74C3C;
$color-white: #fff;

$color-background: $color-white;
$color-text: $color-primary;
$color-link: $color-success;

$font-size: 15px;
$font-size-small: 12px;
$font-size-large: 18px;
$font-size-h1: 46px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$border-radius: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$spacing-small: 6px;
$spacing: 10px;
$spacing-large: 18px;

$screen-sm-min: 48em;
$screen-md-min: 64em;
$screen-lg-min: 75em;
